{:schema "etzhayyim.migration/v1"
 :source {:repository "etzhayyim/root" :revision "c3a74d20d7c65c0b63851fc4f8964402a4733e76" :path "60-apps/etzhayyim-project-isbn" :tree "f7610d32eb63fa44d4684dbbf14583f504a1a77e" :tracked-files 13 :bytes 36154}
 :destination {:repository "kotoba-lang/app-isbn"}
 :identity {:allowed-additions ["README.edn" "migration.edn"]}}